[submodule "dotvim/bundle/YouCompleteMe"]
	path = dotvim/bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "dotvim/bundle/syntastic"]
	path = dotvim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "dotvim/bundle/vim-airline"]
	path = dotvim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dotvim/bundle/vim-fugitive"]
	path = dotvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
